@media(max-width: 800px) {
	main {
		padding-top: $navbar-height;
	}

	header {
		img {
			height: 100%;
			flex: 8;
		}

		border-width: 2px;
		border-style: solid;
		border-color: $navbar-border-color;
		border-top: none;
		border-left: none;
		border-right: none;

		height: $navbar-height;
		width: 100%;

		position: fixed;
		z-index: 1;
		top: 0;
	}

	#navbar {
		display: none;
		position: fixed;
		top: 0;
		z-index: 1;

		flex-direction: column;
		height: 100%;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.9);
		color: white;
		font-size: xx-large;

		border: none;
	}

	#menu-button-container {
		display: flex;
		position: fixed;
		z-index: 3;

		height: $navbar-height;

		align-items: center;
	}

	.grow {
		height: $navbar-height;
	}

	.navbar-active {
		display: flex !important;
	}

	// Remove scrollbars when modal is open.
	body.modal-open {
		overflow: hidden;
	}

}
