// Content fonts
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Lato');


// Frilly font
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

@font-face {
	font-family: "Always Together";
	font-style: normal;
	font-weight: 600;
	src: url(/assets/fonts/alwaystogether.woff) format('woff');
}

// Colors
$text: #000000;
$header-background: #ffffff;
$navbar-background: #ffffff;
$background-color: #ffffff;
$link-color: #000000;
$highlight: #42d9c8;
$footer-background: #111111;
$title-color: #000000;
$section-border-color: #000000;
$navbar-border-color: #000000;

// Sizes
$header-height: 128px;
$navbar-height: 96px;
$footer-height: 320px;
$section-border-radius: 8px;

// Fonts
$default-font: 'Lato';
$content-font: 'Always Together', cursive;
$frilly-font: 'Indie Flower', cursive;
$nav-font: 'Always Together';

// Lets make things fullscreen.
html, body, main {
	height: 100%;
	background-color: $background-color;
}


// Configure header
header {
	img {
		height: 100%;
	}

	display: flex;
	align-items: center;
	justify-content: center;
	height: $header-height;
	background-color: $header-background;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: $content-font;
	color: white;
	height: $footer-height;
	background-color: $footer-background;
}

p {
	font-family: $content-font;
	margin: 1em 1em 1em 1em;
	font-size: 20pt;
	text-align: center;
}

section {
	margin: 2em 1em;
}

#navbar {
	* {
		flex-grow: 1;
		text-align: center;

		overflow: hidden;
	}

	a {
		display: flex;
		align-items: center;
		justify-content: center;

		font-size: 24pt;
		height: 100%;
	}


	display: flex;
	background-color: $navbar-background;
	height: $navbar-height;
	align-items: center;
	justify-content: space-evenly;

	border-color: $navbar-border-color;
	border-style: solid;
	border-width: 2px;
	border-left: none;
	border-right: none;
}

a {
	text-decoration: none;
	color: $link-color;
	font-family: $frilly-font;
}

a:hover {
	color: $highlight;
}

#nav-logo {
	height: 100%;
}

#menu-button-container {
	display: none;
}

.wrapper {
	width: 100%;
	font-family: $frilly-font;
	font-size: x-large;
	color: $text;
}

.section-title {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: $background-color;
	color: $title-color;
	font-size: 36pt;
}

.sticky {
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0;
}

.grow {
	height: $header-height + $navbar-height;
}

.hide {
	display: none;
}

.collapse-logo {
	flex: 1;
	animation: flexShrink 300ms ease forwards;
}

.expand-logo {
	flex: .00001 !important;
	animation: flexGrow 300ms ease forwards;
}

@keyframes flexGrow {
	to {
		flex: 1;
	}
}

@keyframes flexShrink {
	to {
		flex: .00001;
	}
}

@import 'small';
@import 'slides';
@import 'social';
