/* Content font */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

/* Frilly font */
@import url('assets/fonts/bromello.ttf.woff');

:root {
	--sand: #ede0d5;
	--shallows: #dff8eb;
	--ocean: #94b7aa;
	--deep: #51645d;
	--harsh: #312f2f;
	--highlight: #42d9c8;
	--words: #000000;
	--links: #000000;
	--backing: #FFFFFF;
	--borders: #000000;
	--titles: #000000;

	--navbar-height: 96px;
	--header-height: 128px;
}

@font-face {
	font-family: "bromello";
	src: url(assets/fonts/bromello.ttf.woff) format("truetype");
}

html, body, main {
	height: 100%;
}

.wrapper {
	width: 100%;
	font-family: "bromello";
	font-size: x-large;
	color: var(--words);
}
/*
.wrapper {
	display: grid;
	width: 100%;
	grid-template-areas:
		"head"
		"nav"
		"main";

	grid-template-rows: 128px 48px 1fr;

	font-family: "bromello";
	font-size: xx-large;
}
*/

header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--header-height);
	background-color: white;
}

#menu-button-container {
	display: none;
}

#navbar {
	display: flex;
	background-color: white;
	height: var(--navbar-height);
	align-items: center;
	justify-content: space-evenly;

	border-color: var(--borders);
	border-style: solid;
	border-width: 2px;
	border-left: none;
	border-right: none;
}

#navbar > * {
	flex-grow: 1;
	text-align: center;

	/* needed to hide the logo when at the top of the page. */
	overflow: hidden;
}

#navbar > a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: var(--links);
}

#navbar > a:hover {
	color: var(--highlight);
}

#nav-logo {
	height: 100%;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 320px;
	background-color: var(--sand);
}

p {
	font-family: "Indie Flower", cursive;
	margin: 1em 1em 1em 1em;
	font-size: large;
}

.slide-fixed {
	/* Centering content */
	display: flex;
	align-items: center;
	justify-content: center;

	/* Creating parallax background */
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

.slide-scrolling {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100%;
}

.slide-fixed > h3 {
	margin: 0;
	padding: 0;
}

.slide-1 {
	background-image: url("assets/img/slide1.jpg");
	color: #FFFFFF;
	text-align: center;
}

.slide-2 {
	background-image: url("assets/img/slide2.jpg");
	color: #FFFFFF;
	text-align:center;
}

section {
	/* border: 2px solid transparent; */
	border: 2px solid;
	border-radius: 8px;
	border-color: var(--borders);
	/* border-image: url('assets/img/borders.jpg') 25% round stretch; */
	margin: 2em 2em 2em 2em;
}

.section-title {
	position: relative;
	top: -0.5em;
	margin-left: 2em;
	padding-left: 24px;
	padding-right: 24px;
	text-align: center;
	background-color: var(--backing);
	color: var(--titles);
}

.sticky {
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0;
}

.grow {
	height: calc(var(--header-height) + var(--navbar-height));
}

.hide {
	display: none;
}

.collapse-logo {
	flex: 1;
	animation: flexShrink 300ms ease forwards;
}

.expand-logo {
	/* have to make this important in order to animate */
	flex: .00001 !important;
	animation: flexGrow 300ms ease forwards;
}

#sidepanel {
	position: fixed;
	top: 0;
	height: 100%;
	width: 33%;
	background-color: white;
	border-right: solid;
	border-width: 2px;
	border-color: var(--borders);
	z-index: 2;
	margin-top: 0px;
}


@keyframes flexGrow {
	to {
		flex: 1;
	}
}

@keyframes flexShrink {
	to {
		flex: .00001;
	}
}

@media(max-width: 800px) {
	#navbar {
		position: fixed;
		display: none;
		padding-top: 96px;
		flex-direction: column;
		top: 0;
		height: 100%;
		width: 33%;
		border-top: none;
		border-right: solid;
		border-width: 2px;
		z-index: 2;
	}

	#nav-logo {
		display: none;
	}

	.navbar-active {
		display: flex !important;
	}

	header {
		border-width: 2px;
		border-style: solid;
		border-color: var(--borders);
		border-top: none;
		border-left: none;
		border-right: none;
		height: var(--navbar-height);

		position: fixed;
		width: 100%;
		z-index: 1;
		top: 0;
	}

	/* hack to resize appropriately when dynamically switching screen size */
	.grow {
		height: var(--navbar-height);
	}

	header > img {
		height: 100%;
		flex: 8;
	}

	#menu-button-container {
		display: flex;
		height: var(--navbar-height);
		align-items: center;
		z-index: 3;
		position: fixed;
	}
}

